# Dependencies
node_modules/
package-lock.json
yarn.lock
.pnpm-store/
.pnpm-debug.log

# Environment
.env*
!.env.example
!.env*.example

# Build
dist/
build/
*.tsbuildinfo

# Stoage
storage/*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Test coverage
coverage/
.nyc_output/

# Temporary files
tmp/
temp/
*.tmp
